@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.networkBtnsContainer {
    @include display-style(flex, row, 100%);
    transform: translateY(-5.5rem);
    justify-content: center;
    gap: 1rem;
}
.links {
    @include common-measures(.6rem, 1rem .5rem, .3rem);
    display: flex;
    background: $gradient;
    
    &:hover {
        transform: scale(1.05);
    }
}
.curriculoBtn {
    @include font-style(1.2rem, $font-primary, 500, $text-color);
    @include common-measures(1rem 2rem, auto, 1rem);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: $text-color;
    }
}