@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.name {
    @include font-style(1.25em, $font-primary, 600, normal);
    padding: .01rem;
    background: $gradient;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}