@import '@styles/variables.scss';
@import '@styles/mixins.scss';

#modalBody {
    flex-direction: column;
    align-items: center;
    
    &>a {
        width: 10rem;
        text-align: center;
        @include common-measures(.4rem, auto, .75rem);
        @include font-style(1em, $font-primary, 500, $text-color);
        background: $gradient;
        text-decoration: none;
        border: 1px solid $text-color;
        box-shadow: $box-shadow;
        transition: 500ms;

        &:hover {
            text-decoration: underline;
            background: transparent;
            transform: scale(.95);
            border-image: $gradient;
            border-image-slice: 1;
        }
    }
}