@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.headerVisible {
    @include flex-box(flex, row, center, center);
    position: fixed;
    width: 100%;
    min-height: 6rem;
    z-index: 5;
    background: url('@assets/bg-desktop.jpg') no-repeat right center/cover;
    box-shadow: $box-shadow;
}
.headerHidden {
    display: none;
}
.contentHeader{
    @include flex-box(flex, row, center, space-between);
    width: 100%;
    height: 6rem;
    z-index: 4;
    margin: auto;
    max-width: 1600px;
    @media screen and (max-width: 670px) {
        flex-direction: column;
    }
}

.linksNav {
    @include font-style(clamp(.8em, 2.5vw, 1.2em), $font-primary, 500, $text-color);
    @include common-measures(.7rem, 0, none);
    @include gradient-text($gradient, border-box, text, transparent);
    cursor: pointer;
    border: 1px solid transparent;
    transition: 500ms;
    &:hover {
        transform: scale(.9);
        border-image: $gradient;
        border-image-slice: 1;
    }
}