@import "./variables.scss";
@import "./mixins.scss";

.mainContent{
  @include flex-box(flex, column, start, start);
  width: 100%;
  max-width: 1600px;
  margin: 3rem auto 0;
}
.sidebarAboutAndSkills{
  display: flex;
  width: 100%;
  @media screen and (max-width: 840px){
    flex-direction: column;
  }
}
.aboutAndSkills{
  @include flex-box(flex, column, stretch, flex-start);
  @include common-measures(0 .5rem .5rem, 0 1.2rem, .75rem);
  background-color: rgba(255, 255, 255, 0.15);
  @media screen and (max-width:568px) {
    margin: 0;
  }
}