@import "./variables.scss";
@import "./mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    background: url('@assets/bg-desktop-light.jpg') no-repeat top center/cover;
}