@import "./variables.scss";
@import "./mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: $body-bg-color;
    scroll-behavior: smooth;
    background: linear-gradient(271deg, $bg-color, $body-bg-color, $bg-color, $body-bg-color, $bg-color, $body-bg-color, $bg-color, $body-bg-color);
    background-size: 1600% 1600%;
    -webkit-animation: AnimationBody 40s ease infinite;
    -moz-animation: AnimationBody 40s ease infinite;
    animation: AnimationBody 40s ease infinite;
    
    //safari
    @-webkit-keyframes AnimationBody {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    //mozilla
    @-moz-keyframes AnimationBody {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationBody {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}