@import "./variables";
@import "./mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: $body-bg-color;
}

h1 {
    color: $gradient;
    font-family: $font-primary;
}