@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font-primary: Poppins, Arial, Helvetica, sans-serif;
$font-secundary: Roboto, Arial, Helvetica, sans-serif;
$text-color: #dadada;
$body-bg-color: #271b31;
$bg-color: #232323;
$gradient: linear-gradient( 135deg, #E8D07A 10%, #5312D6 100%);
$box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.835);