@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font-primary: Poppins, Arial, Helvetica, sans-serif;
$font-secundary: Roboto, Arial, Helvetica, sans-serif;
$text-color: #dadada;
$body-bg-color: #271b31;
$bg-color: #232323;
$gradient: linear-gradient(90deg, rgb(255, 82, 82, 0.7) 0%, rgba(218, 32, 121, 0.719) 100%);