@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font-primary: Poppins, Arial, Helvetica, sans-serif;
$font-secundary: Roboto, Arial, Helvetica, sans-serif;
$text-color: #dadada;
$body-bg-color: #271b31;
$bg-color: #232323;
$gradient: linear-gradient(90deg, rgba(8,30,124,1) 0%, rgba(11,90,149,1) 36%, rgba(3,153,156,1) 100%);
$box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.7);