@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.mainContent {
    @include flex-box(flex, column, center, center);
    @include common-measures(2rem, 0, .75rem);
    background-color: $bg-color;
    box-shadow: $box-shadow;
    @media screen and (max-width: 380px){
        padding: .5rem;
    }
}