@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.skillsContainer {
    @include flex-box(flex, row, start, center);
    margin: 1rem 0;
    gap: 1rem;
    flex-wrap: wrap;
}
.iconsTech {
    max-width: 3.5rem;
    margin-bottom: .5rem;
}
.techsContainer {
    @include common-measures(.8rem, 1.5rem 0 0 0, .5rem);
    @include flex-box(flex, row, center, start);
    @include font-style(1em, $font-primary, 600, #fff);
    width: 180px;
    gap: .7rem;
    box-shadow: $box-shadow;
    border: 1px solid transparent;
    
    &:hover {
        scale: 1.05;
        border-image: $gradient;
        border-image-slice: 1;
    }
}
@media screen and (max-width: 850px) {
    .iconsTech {
        max-width: 2rem;
    }
    .techsContainer {
        max-width: 150px;
        font-size: .9em;
    }  
}
@media screen and (max-width: 380px) {
    .skillsContainer {
        gap: .5rem;
    }
    .techsContainer {
        max-width: 140px;
        font-size: .8em;
    }
}