@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

header {
    @include common-measures(.5rem 2% 0, auto, none);
    @include flex-box(flex, row, center, space-between);
    max-width: 1600px;
    min-height: 6rem;
    background-color: $bg-color;
    box-shadow: $box-shadow;
    @media screen and (max-width: 670px) {
        flex-direction: column;
    }
}
.linksNav {
    @include font-style(1em, $font-primary, 500, $text-color);
    @include common-measures(.7rem, 0, none);
    @include gradient-text($gradient, border-box, text, transparent);
    cursor: pointer;
    border: 1px solid transparent;
    transition: 500ms;
    &:hover {
        transform: scale(.9);
        border-image: $gradient;
        border-image-slice: 1;
    }
    @media screen and (max-width: 380px) {
        font-size: .8em;
        @include common-measures(.5rem, auto, .5rem);
    }
}