@import "../../styles/mixins.scss";
@import "../../styles/variables.scss"; 

.sidebar {
    @include display-style(flex, column, 22rem);
    @include common-measures(0 2rem 5rem, 0 0 0 1rem, .75rem);
    height: 45.5rem;
    text-align: center;
    background-color: $bg-color;
    box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.7);
}
.photoPerfil {
    @include common-measures(0, auto, 8%);
    max-width: 205px;
    transform: translateY(-5rem);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}
.bio {
    @include font-style(1.1rem, $font-primary, normal, $text-color);
    transform: translateY(-6rem);
}
//media queries
@media screen and (max-width: 800px) {
    .sidebar {
        margin: auto;
        width: 80%;
        border-radius: .75rem;
    }
}
@media screen and (max-width: 568px) {
    .sidebar {
        width: 100%;
    }
}