@import "../../styles/mixins.scss";
@import "../../styles/variables.scss"; 

.sidebar {
    @include flex-box(flex, column, start, start);
    @include common-measures(0 2rem 5rem, 0 0 0 1rem, .75rem);
    width: 22rem;
    height: 45.5rem;
    text-align: center;
    background-color: $bg-color;
    box-shadow: $box-shadow;
    @media screen and (max-width: 568px) {
        width: 100%;
    }
    @media screen and (max-width: 800px) {
        margin: auto;
        width: 80%;
        border-radius: .75rem;
    }
}
.photoPerfil {
    @include common-measures(0, auto, 8%);
    max-width: 205px;
    transform: translateY(-5rem);
    box-shadow: $box-shadow;
}
.bio {
    @include font-style(1.1rem, $font-primary, normal, $text-color);
    transform: translateY(-6rem);
}