@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.contactContainer {
    @include display-style(flex, column, 100%, auto);
    @include common-measures(.8rem, auto, .75rem);
    align-items: start;
    gap: 1rem;
    transform: translateY(-2rem)
}
.contactSection {
    @include display-style(flex, row, 100%, auto);
    @include common-measures(.2rem, 0, none);
    border-bottom: 1px solid $text-color;
}

.icons {
    filter: brightness(0) invert(1);
    @include common-measures(0, 0 .5rem 0 0, none);
    &:hover {
        transform: scale(1.09);
    }
}