@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.contactContainer {
    @include flex-box(flex, column, start, start);
    gap: .5rem;
    margin-top: 1rem;
}
.contactSection {
    display: flex;
    width: 100%;
    padding: .5rem;
    border-bottom: 1px solid $text-color;
}
.icons {
    &:hover {
        transform: scale(1.09);
    }
}
.info {
    @include font-style(.8em, $font-primary, 500, $text-color);
    margin-left: .6rem;
    text-decoration: none;
}