@import "@styles/mixins.scss";
@import "@styles/variables.scss"; 

.sidebar {
    @include flex-box(flex, column, center, center);
    @include common-measures(0 2rem, 0 auto, .75rem);
    width: 100%;
    background-color: $bg-color;
    box-shadow: $box-shadow;
    @media screen and (min-width: 500px) and (max-width: 840px) {
        width: 70%;
    }
}
.sidebarContent{
    @include flex-box(flex, column, center, center);
    gap: 1rem;
    height: 45rem;
    transform: translateY(-5rem);
}
.photoPerfil {
    border-radius: .8rem;
    max-width: 205px;
    box-shadow: $box-shadow;
}
.bio {
    @include font-style(1.1rem, $font-primary, normal, $text-color);
}