@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.mainContent {
    @include display-style(flex, column, 100%);
    @include common-measures(2rem, 0, .75rem);
    background-color: $bg-color;
    box-shadow: $box-shadow;
}

@media screen and (max-width: 380px) {
    .mainContent {
        padding: .5rem;
    }
}